# Data files (too large for GitHub)
data/raw/*.csv
data/cleaned/*.csv

# Keep folder structure
!data/raw/.gitkeep
!data/cleaned/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
